<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>剩食地圖</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
	<!-- Navigation-->
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
	  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand page-scroll" href="">NTU<br>Remaining Food<br>Map</a>
			</div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="{% url 'home' %}" class="page-scroll">Home</a></li>
	        <li><a href="#map-section" class="page-scroll">Map</a></li>
	        <li><a href="{% url 'food' %}" class="page-scroll">Food Event</a></li>
	        <li><a href="/accounts/" class="page-scroll">Account</a></li>
	        <li><a href="" class="page-scroll">Contact us</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<section id="map-section" class="text-center">
		<div class="container">
				<h1>Login</h1>
				  <form class="site-form" action="{% url 'accounts:login' %}" method="post">
				  	{% csrf_token %}
				  		{{ form }}
				  	{% if request.GET.next %}
					  	<input type="hidden" name="next" value="{{request.GET.next}}">
				  	{% endif %}
				  	<input type="submit" value="Login">
				  </form>

				  <form class="site-form" action="" method="post">
				  	{% csrf_token %}
				  		<input type="submit" name="logout" value="Logout">
				  </form>

				  <div class="signup-btn">
				  	<button onclick="location.href='{% url "accounts:signup" %}'" type="button">Create An Account</button>
				  </div>
		</div>
	</section>
</body>

</html>