<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>剩食地圖</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style_food.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
    
</head>
<body>
	<!-- Navigation-->
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
	  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand page-scroll" href="">NTU<br>Remaining Food<br>Map</a>
			</div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="{% url 'home' %}" class="page-scroll">Home</a></li>
	        <li><a href="#map-section" class="page-scroll">Map</a></li>
	        <li><a href="{% url 'food' %}" class="page-scroll">Food Event</a></li>
	        <li><a href="/accounts/" class="page-scroll">Account</a></li>
	        <li><a href="" class="page-scroll">Contact us</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	

	<section id="map-section" class="text-center">
	<h2>where are you?</h2>
	<form action="" method="post">
	{% csrf_token %}
		<select name="myplace">
		  <option value="新體">新體</option>
		  <option value="管院">管院</option>
		  <option value="總圖">總圖</option>
		  <option value="社科">社科</option>
		</select>
		<input type="submit" value="Submit">
	</form>
	{{place.lon}}
	{{place.lat}}
		<div class="container">
			<!-- My Event -->
				<div class="col-md-12">
									
							
						<div class="col-md-6">
							<br><br><br>
							<!-- <h3> Hi! {{request.user}}</h3>	 -->
							<p>我提供的食物</p>
							<br>
								{% for food in foodevents %}
									{% if request.user.username == food.provider.username %}	
								
									{% csrf_token %}
									<div class = "events">
										名稱：{{food.resource}} <br>
										地點：{{food.place}} <br>
										敘述：{{food.description}} <br>
										發布時間：{{food.time}} <br>
										剩餘數量：{{food.amount}} <br> 
										<!-- 已排數量：{{food.pai_amount}} <br> -->  
										提供者：{{food.provider}} <br> 

									</div>
									
									<div class="row form-group">
								        <div class="col-sm-12 text-center">
											<form action="" method="post">
											{% csrf_token %}
												<!-- <input type="hidden" class="btn btn-default" name = "fid" value = {{food.id}} ></input> -->
												<input id = "edit_amount" type="text" name = "edit_amount" value="修改剩餘數量"></input>
												<button type="submit" class="btn btn-default" name = "fid" value = {{food.id}} >確認</button>
											</form><br><br><br>
											<h3>排隊情形：</h3><br>
											{% for tkf in take_food %}
											{% if tkf.food.id == food.id %}
											

											<div class = "take_food_info">
												
												排隊者：{{tkf.taker.username}}<br>
												預計抵達時間：{{tkf.exp_time}}<br>
												
											</div><br>

											{% endif %}
											{% endfor %}
											<div class = "finish">
												<form action="" method="post">
													{% csrf_token %}
												    <button type="submit" class="btn btn-default" name = "finish" value = {{food.id}} >發完了</button>
												</form>
											</div>
										</div>
									</div>
								

								{% endif %}
								{% endfor %}

						</div>
				
				<!-- Others' events  -->


		
					<div class="col-md-6">
						
						<br><br><br>	
						<p>看看現在有哪些美食</p>
						<br>
						{% for food in foodevents %}
						<!-- {% if request.user.username != food.provider.username %} -->
						<form action="" method="post">
							{% csrf_token %}
							<div class = "events">
								名稱：{{food.resource}} <br>
								地點：{{food.place}} <br>
								敘述：{{food.description}} <br>
								發布時間：{{food.time}} <br>
								剩餘數量：{{food.amount}} <br> 
								經度：{{food.lon}} <br> 
								已排數量：{{food.pai_amount}} <br> 
								提供者：{{food.provider}} <br> 
							</div>

								
							<div class="row form-group">
								<div class="col-sm-12 text-center">
									<label for="exp_time">預計幾分鐘後領取：</label> 
									<input id = "exp_time" type="text" name = "expected_time" value="ex: 20"></input>
									<button type="submit" class="btn btn-default" name = "pai" value = {{food.id}} >排</button>
								</div>
							</div>
						</form>
						<!-- {% endif %} -->
						{% endfor %}
					</div>
				</div>			
						

		</div>
	</section>
</body>



</html>
        	