<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>剩食地圖</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=SAMPLE_KEY&callback=initMap">
</script>
</head>
<body>
	<!-- Navigation-->
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
	  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand page-scroll" href="">NTU<br>Remaining Food<br>Map</a>
			</div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="" class="page-scroll">Home</a></li>
	        <li><a href="#map-section" class="page-scroll">Map</a></li>
	        <li><a href="{% url 'food' %}" class="page-scroll">Food Event</a></li>
	        <li><a href="" class="page-scroll">Account</a></li>
	        <li><a href="" class="page-scroll">Contact us</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<header id="header">
	  <div class="intro">
	    <div class="overlay">
	      <div class="container">
	        <div class="row">
	          <div class="col-md-8 col-md-offset-2 intro-text">
	          	<div class="brandname">剩食地圖</div>
	            <h2>NTU<br>Remaining Food<br>Map</h2>
	            <p class="scroll-leading">Start</p>
	            <i class="fa fa-angle-double-down"></i>
	            <!-- <a href="#features" class="btn btn-custom btn-lg page-scroll">Learn More</a> </div> -->
	        </div>
	      </div>
	    </div>
	  </div>
	</header>
	

	<section id="map-section" class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 map-display">
					<img src="{% static 'img/map-demo.png' %}" class="img-responsive" alt="">
				
				<div>
				   <script>
				      var map;
				      function initMap() {
				        map = new google.maps.Map(document.getElementById('map'), {
				          center: {lat: -34.397, lng: 150.644},
				          zoom: 8
				        });
				      }
				      initMap();
				    </script>
				    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu0gr5kGkWp4CuG7ReOJLu7cwtUQWh5R8&callback=initMap"
				    async defer></script>

				    <form method="POST" action="">
    {% csrf_token %}
    {{form.media}}
    {{form.as_p}}
</form>

{% block extrahead %}
    {{ form.media }}

    <script type="text/javascript">
        $(document).on("google_point_map_widget:marker_create", function (e, lat, lng, locationInputElem, mapWrapID) {
            console.log(locationInputElem); // django widget textarea widget (hidden)
            console.log(lat, lng); // created marker coordinates
            console.log(mapWrapID); // map widget wrapper element ID
        });
        $(document).on("google_point_map_widget:marker_change", function (e, lat, lng, locationInputElem, mapWrapID) {
            console.log(locationInputElem); // django widget textarea widget (hidden)
            console.log(lat, lng);  // changed marker coordinates
            console.log(mapWrapID); // map widget wrapper element ID
        });
        $(document).on("google_point_map_widget:marker_delete", function (e, lat, lng, locationInputElem, mapWrapID) {
            console.log(locationInputElem); // django widget textarea widget (hidden)
            console.log(lat, lng);  // deleted marker coordinates
            console.log(mapWrapID); // map widget wrapper element ID
        })
    </script>
{% endblock extrahead %}


				</div>


				<!-- Yi_chin modified -->
				<div class="col-md-4 col-md-offset-4">
					<form action="" method="post" class = "create_food_event">
						{% csrf_token %}	
							<p>你有多的食物嗎?<br>把美味分享給需要的人</p>
							<br>

							<!-- <label for="place">地點：&nbsp &nbsp</label> -->
							<input id = "place" type="text" name = "food_place" value="地點"></input>

							<!-- <label for="resource">物資：&nbsp &nbsp</label> -->
							<input id = "object" type="text" name = "food_object" value="物資"></input>
							<input id = "description" type="text" name = "food_amount" value="剩餘數量"></input>

							<!-- <label for="description">敘述：&nbsp &nbsp</label> -->
							<input id = "description" type="text" name = "food_description" value="敘述"></input>

							<input type="submit" name = "create_event" value="送出"></input>

						</tabel>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>



</html>
        	